Plataforma visual/Node-Red/flows.json
[{"id":"673f7d95.d7b064","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f2f5c311.9ac2e","type":"tab","label":"Sensors General","disabled":false,"info":""},{"id":"8e84be49.632e6","type":"tab","label":"Sensors Principi","disabled":false,"info":""},{"id":"ea586871.da6948","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0fdff0","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#aef7f4","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#aef7f4","edited":true},"page-titlebar-backgroundColor":{"value":"#65dcfe","edited":true},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":true},"group-borderColor":{"value":"#b9efff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#aef7f4","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"271ee638.5b969a","type":"ui_tab","z":"","name":"Node Principi","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"107dff94.64e31","type":"ui_spacer","name":"spacer","group":"","order":1,"width":"10","height":"5"},{"id":"503533e8.68966c","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"759a232b.826f1c","type":"ui_spacer","name":"spacer","group":"503533e8.68966c","order":1,"width":1,"height":1},{"id":"f16f6f81.65cf","type":"ui_spacer","name":"spacer","group":"503533e8.68966c","order":1,"width":1,"height":1},{"id":"e71c9a2.b3c2468","type":"ttn app","z":"","appId":"incendis-radial","region":"eu","accessKey":"ttn-account-v2.0x753pbV0gcldw-u68VM7WAW3IxGvy04ZJP4x1vKDYM"},{"id":"9ac5d372.08227","type":"ui_group","z":"","name":"Resum de les dades  dels sensors","tab":"5959375b.3becb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"7fa56fd6.a2d98","type":"ui_group","z":"","name":"Grafics","tab":"5959375b.3becb8","order":3,"disp":false,"width":"8","collapse":false},{"id":"475e4518.266e1c","type":"ui_group","z":"","name":"Data from first node","tab":"5959375b.3becb8","order":4,"disp":true,"width":"6","collapse":true},{"id":"5959375b.3becb8","type":"ui_tab","z":"","name":"Projecte IoT Endesa","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5834ee2a.5e2a9","type":"ui_group","z":"","name":"Gràfics","tab":"5959375b.3becb8","order":2,"disp":true,"width":"12","collapse":false},{"id":"b34daaac.a77b98","type":"ui_group","z":"","name":"Data from last node","tab":"5959375b.3becb8","order":5,"disp":true,"width":"6","collapse":true},{"id":"86e71b3a.03c1b8","type":"ui_group","z":"","name":"Gràfiques","tab":"271ee638.5b969a","order":2,"disp":true,"width":"13","collapse":true},{"id":"cd5dd6b6.ccfb98","type":"ui_group","z":"","name":"HumitatTemp","tab":"271ee638.5b969a","order":3,"disp":false,"width":"7","collapse":false},{"id":"e94e2a5.e1d22d8","type":"ui_group","z":"","name":"Informació dels sensors","tab":"271ee638.5b969a","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b5f9dbc.ece622","type":"ui_tab","z":"","name":"Node Final","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"d9d652ca.dacd3","type":"ui_group","z":"","name":"Gràfiques","tab":"1b5f9dbc.ece622","order":2,"disp":true,"width":"12","collapse":false},{"id":"9f32f91b.02ab68","type":"ui_group","z":"","name":"Dades dels sensors","tab":"1b5f9dbc.ece622","order":1,"disp":true,"width":"6","collapse":true},{"id":"2d7dbdda.f8dbe2","type":"ui_group","z":"","name":"Info Sensors","tab":"1b5f9dbc.ece622","order":3,"disp":false,"width":"7","collapse":false},{"id":"1d3b9954.df982f","type":"ui_tab","z":"","name":"Discover nodes","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"efc35d63.3068e8","type":"ui_group","z":"","name":"Table","tab":"1d3b9954.df982f","order":1,"disp":false,"width":"11","collapse":false},{"id":"a3bf497b.cca8f8","type":"ttn message","z":"f2f5c311.9ac2e","name":"","app":"e71c9a2.b3c2468","dev_id":"","field":"","x":190,"y":300,"wires":[["ca557b93.423378","1aeb6d64.c6c943","d77124e8.5ac838","4f68dcbb.84d844","bf1c5db2.a22b7","77f6374.b68bbc8","fdd53f04.caaa2","37f2bb9b.794244","fc53620d.6e6f8","6b39d26a.4073cc","c89f293f.208d18","4879786c.388a58","690ec753.10c638","1fbd8451.86b83c","fb8508f.75c2ff8","b40e7e07.ddf26","17b441eb.93920e","2c51b847.8f5968","f97b5357.04678","f26abd9b.c0c3d"]]},{"id":"fc53620d.6e6f8","type":"ui_text","z":"f2f5c311.9ac2e","group":"9ac5d372.08227","order":1,"width":"6","height":"1","name":"","label":"Dust","format":"{{msg.payload.dust | number:2}} ug/m3","layout":"row-spread","x":590,"y":600,"wires":[]},{"id":"6b39d26a.4073cc","type":"ui_text","z":"f2f5c311.9ac2e","group":"9ac5d372.08227","order":2,"width":"0","height":"0","name":"","label":"Temp","format":"{{msg.payload.temp | number:2}} ºC","layout":"row-spread","x":590,"y":640,"wires":[]},{"id":"da7b54b7.938a98","type":"ui_chart","z":"f2f5c311.9ac2e","name":"Dust (ug/m3)","group":"5834ee2a.5e2a9","order":3,"width":"0","height":"0","label":"Dust (ug/m3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Witing data...","dot":false,"ymin":"0","ymax":"560","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":680,"wires":[["7d8333dd.0e966c"]]},{"id":"30fb9001.b934e","type":"ui_gauge","z":"f2f5c311.9ac2e","name":"","group":"7fa56fd6.a2d98","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{value|number:2}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","x":770,"y":800,"wires":[]},{"id":"c89f293f.208d18","type":"ui_text","z":"f2f5c311.9ac2e","group":"9ac5d372.08227","order":6,"width":0,"height":0,"name":"HHT","label":"HHT","format":"{{msg.payload.HHT| number:2}}%","layout":"row-spread","x":590,"y":560,"wires":[]},{"id":"9da13fb2.cb9fd","type":"ui_gauge","z":"f2f5c311.9ac2e","name":"GràficaHumitat","group":"7fa56fd6.a2d98","order":3,"width":"8","height":"5","gtype":"wave","title":"Humidity","label":"% ","format":"{{value | number:2}}","min":0,"max":"100","colors":["#d70000","#e6e600","#00b300"],"seg1":"30","seg2":"60","x":740,"y":740,"wires":[]},{"id":"ca557b93.423378","type":"function","z":"f2f5c311.9ac2e","name":"Check alarm","func":"var umbral=50\n\nif (((msg.payload.THT>umbral) && (msg.payload.Tbmp>umbral)&&(msg.payload.temp>umbral))||msg.payload.dust>200){\n   return msg;\n}else{\n    return null;\n}\n","outputs":1,"noerr":0,"x":390,"y":40,"wires":[["cd8dd591.241828"]]},{"id":"cd8dd591.241828","type":"ui_toast","z":"f2f5c311.9ac2e","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"alarma","name":"","x":610,"y":40,"wires":[]},{"id":"fb8508f.75c2ff8","type":"function","z":"f2f5c311.9ac2e","name":"Topic_THT","func":"msg.payload=msg.payload.THT;\nmsg.topic='THT';\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":860,"wires":[["133050dc.9a9ecf"]]},{"id":"b40e7e07.ddf26","type":"function","z":"f2f5c311.9ac2e","name":"Topic_Tbmp","func":"msg.payload=msg.payload.Tbmp;\nmsg.topic='Tbmp';\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":900,"wires":[["133050dc.9a9ecf"]]},{"id":"17b441eb.93920e","type":"function","z":"f2f5c311.9ac2e","name":"Topic_temp","func":"msg.payload=msg.payload.temp;\nmsg.topic='Temp';\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":940,"wires":[["133050dc.9a9ecf"]]},{"id":"133050dc.9a9ecf","type":"function","z":"f2f5c311.9ac2e","name":"Join all Temp to plot","func":"\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":920,"wires":[["136971a2.298cde"]]},{"id":"a67d1f86.59e92","type":"ui_text","z":"f2f5c311.9ac2e","group":"7fa56fd6.a2d98","order":4,"width":0,"height":0,"name":"","label":"Dry","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":570,"y":120,"wires":[],"icon":"font-awesome/fa-circle"},{"id":"1aeb6d64.c6c943","type":"function","z":"f2f5c311.9ac2e","name":"Dry led colours","func":"if (msg.payload.dhi==1) {\n    msg.color=\"lime\";\n  \n}else{\n    msg.color=\"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["a67d1f86.59e92"]]},{"id":"d77124e8.5ac838","type":"function","z":"f2f5c311.9ac2e","name":"Humid led colours","func":"if (msg.payload.dhi==2) {\n    msg.color=\"lime\";\n  \n}else{\n    msg.color=\"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["b1f244e9.e12d68"]]},{"id":"b1f244e9.e12d68","type":"ui_text","z":"f2f5c311.9ac2e","group":"7fa56fd6.a2d98","order":5,"width":0,"height":0,"name":"","label":"Humid","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":590,"y":160,"wires":[],"icon":"font-awesome/fa-circle"},{"id":"4f68dcbb.84d844","type":"function","z":"f2f5c311.9ac2e","name":"inWater led colours","func":"if (msg.payload.dhi==3) {\n    msg.color=\"lime\";\n  \n}else{\n    msg.color=\"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["408b443e.85da6c"]]},{"id":"408b443e.85da6c","type":"ui_text","z":"f2f5c311.9ac2e","group":"7fa56fd6.a2d98","order":6,"width":0,"height":0,"name":"","label":"inWater","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":640,"y":200,"wires":[],"icon":"font-awesome/fa-circle"},{"id":"e09edbe3.8cade8","type":"file","z":"f2f5c311.9ac2e","name":"","filename":"F:\\\\EndesaRed\\DadesNodeRedEdificis.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1110,"y":280,"wires":[[]]},{"id":"bf1c5db2.a22b7","type":"simpletime","z":"f2f5c311.9ac2e","name":"time","x":430,"y":280,"wires":[["fefc7071.904d6"]]},{"id":"fefc7071.904d6","type":"function","z":"f2f5c311.9ac2e","name":"Add metadata and time","func":"//msg.payload.date=msg.mydate\nmsg.payload.dateDay=msg.mydom\nmsg.payload.dateMonth=msg.mymonthn\nmsg.payload.dateYear=msg.myyear\nmsg.payload.time=msg.mytimes\nmsg.payload.dust=Number((msg.payload.dust).toFixed(2));\nmsg.payload.temp=Number((msg.payload.temp).toFixed(2));\nmsg.payload.frequency=msg.metadata.frequency\nmsg.payload.DR=msg.metadata.data_rate\nmsg.payload.rssi=msg.metadata.gateways[0].rssi\nmsg.payload.snr=msg.metadata.gateways[0].snr\nmsg.payload.timestamp=msg.metadata.gateways[0].timestamp\nreturn msg;\n//Number((6.688689).toFixed(1));","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["81e0004a.e1c4c"]]},{"id":"81e0004a.e1c4c","type":"csv","z":"f2f5c311.9ac2e","name":"","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"count,HHT,THT,Tbmp,dhi,dust,temp,Tcam,val,frequency,DR,rssi,snr,timestamp,dateDay,dateMonth,dateYear,time","skip":"0","x":850,"y":280,"wires":[["e09edbe3.8cade8"]]},{"id":"7d8333dd.0e966c","type":"file","z":"f2f5c311.9ac2e","name":"","filename":"F:\\\\EndesaRed\\Dust.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":680,"wires":[[]]},{"id":"136971a2.298cde","type":"ui_chart","z":"f2f5c311.9ac2e","name":"Gràfica Temperatura2","group":"5834ee2a.5e2a9","order":3,"width":"0","height":"0","label":"Temperature (ºC)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Witing data...","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":960,"y":920,"wires":[[]]},{"id":"77f6374.b68bbc8","type":"ui_text","z":"f2f5c311.9ac2e","group":"9ac5d372.08227","order":5,"width":0,"height":0,"name":"THT","label":"THT","format":"{{msg.payload.THT| number:2}}ºC","layout":"row-spread","x":590,"y":440,"wires":[]},{"id":"fdd53f04.caaa2","type":"ui_text","z":"f2f5c311.9ac2e","group":"9ac5d372.08227","order":4,"width":0,"height":0,"name":"Tbmp","label":"Tbmp","format":"{{msg.payload.Tbmp| number:2}} ºC","layout":"row-spread","x":590,"y":480,"wires":[]},{"id":"37f2bb9b.794244","type":"ui_text","z":"f2f5c311.9ac2e","group":"9ac5d372.08227","order":7,"width":0,"height":0,"name":"val","label":"val Hsuelo","format":"{{msg.payload.val | number:0}}","layout":"row-spread","x":590,"y":520,"wires":[]},{"id":"2669b3d9.763afc","type":"ui_text","z":"f2f5c311.9ac2e","group":"9ac5d372.08227","order":8,"width":0,"height":0,"name":"Dry","label":"Dry","format":"{{msg.payload | number:0}}","layout":"row-spread","x":950,"y":340,"wires":[]},{"id":"c65b5faf.ba62f","type":"ui_text","z":"f2f5c311.9ac2e","group":"9ac5d372.08227","order":9,"width":0,"height":0,"name":"Humid","label":"Humid","format":"{{msg.payload | number:0}}","layout":"row-spread","x":950,"y":380,"wires":[]},{"id":"751bed2a.ddc6f4","type":"ui_text","z":"f2f5c311.9ac2e","group":"9ac5d372.08227","order":10,"width":0,"height":0,"name":"inWater","label":"inWater","format":"{{msg.payload | number:0}}","layout":"row-spread","x":960,"y":420,"wires":[]},{"id":"4879786c.388a58","type":"function","z":"f2f5c311.9ac2e","name":"Plot dust values","func":"//var dust={\"payload\":msg.payload.dust.toString()};\nmsg.payload=msg.payload.dust\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":680,"wires":[["da7b54b7.938a98"]]},{"id":"690ec753.10c638","type":"function","z":"f2f5c311.9ac2e","name":"Plot humidity","func":"msg.payload=msg.payload.HHT\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":740,"wires":[["9da13fb2.cb9fd"]]},{"id":"1fbd8451.86b83c","type":"function","z":"f2f5c311.9ac2e","name":"Plot temp colours","func":"msg.payload=msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":800,"wires":[["30fb9001.b934e"]]},{"id":"a37748e8.02dba8","type":"ttn message","z":"8e84be49.632e6","name":"","app":"e71c9a2.b3c2468","dev_id":"","field":"","x":550,"y":700,"wires":[["c8efb546.303088","5ed11069.7fce6"]]},{"id":"e602b373.e4e76","type":"ui_text","z":"8e84be49.632e6","group":"b34daaac.a77b98","order":1,"width":"6","height":"1","name":"","label":"Dust","format":"{{msg.payload | number:2}} ug/m3","layout":"row-left","x":1230,"y":60,"wires":[]},{"id":"8c11a33f.a88","type":"ui_text","z":"8e84be49.632e6","group":"b34daaac.a77b98","order":2,"width":"4","height":"1","name":"","label":"Temp","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":1230,"y":100,"wires":[]},{"id":"c8efb546.303088","type":"function","z":"8e84be49.632e6","name":"Show ","func":"var id_last='70b3d5fffe499aab';\nvar id_first='70b3d549966dd4071';\nvar output_id=\"None\";\n\nvar dust={\"payload\":msg.payload.dust.toString()};\nvar temp={\"payload\":msg.payload.temp.toString()};\nvar HHT={\"payload\":msg.payload.HHT.toString()};\nvar THT={\"payload\":msg.payload.THT.toString()};\nvar Tbmp={\"payload\":msg.payload.Tbmp.toString()};\nvar val={\"payload\":msg.payload.val.toString()};\n//var dhi={\"payload\":msg.payload.dhi.toString()};\n\nvar time={\"payload\":msg.metadata.time.toString()};\nvar now={\"payload\":msg.metadata.time.toString()};\n//var time={\"payload\":Date().toString().toString()};\n//var now = new Date().toString();\nvar dry2=\"0\";\nvar humid2=\"0\";\nvar inWater2=\"0\";\n\nswitch(msg.payload.dhi){\n    case(1):\n         dry2=\"1\";\n         break;\n    case(2):\n        humid2=\"1\";\n         break;\n    case(3):\n        inWater2=\"1\";\n         break;\n}\nvar dry={\"payload\":dry2.toString()};\nvar humid={\"payload\":humid2.toString()};\nvar inWater={\"payload\":inWater2.toString()};\n\n\nif(msg.dev_id==id_first){\n    output_id=\"First node\";\n    output_id={\"payload\":output_id.toString()};\n    return [output_id,null,null,null,null,null,null,null,null,null,dust,temp,HHT,THT,Tbmp,val,dry,humid,inWater,time];\n}else if(msg.dev_id==id_last){\n    output_id=\"Final node\";\n    output_id={\"payload\":output_id.toString()};\n    return [output_id,dust,temp,HHT,THT,Tbmp,val,dry,humid,inWater, null,null,null,null,null,null,null,null,null,time];\n}else{\n    output_id=\"None\";\n    output_id={\"payload\":output_id.toString()};\n    return [output_id,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null];\n}\n","outputs":20,"noerr":0,"x":750,"y":680,"wires":[["8d33d794.0e9368"],["e602b373.e4e76","fe000b36.0be778","247ac445.ac9e9c","cf3dad05.83d93"],["8c11a33f.a88","8d0709cb.7c1318","f04c1565.7ab648","f015e2c5.35413"],["feb5ec54.ca3c","a0d90865.11ceb8","fe338e36.53de1"],["5cf4235f.75b04c","9bbf09ed.5547c8","d834f15d.6808c"],["5523ffef.6f9fa","f33cb94b.472308","d834f15d.6808c"],["f11a87f1.a9a4e8","ecfba178.e3496"],["35c4b4f.c76694c","123a5c4e.d7f204","61a42c5b.3deac4"],["7447650c.8f59bc","6480a935.1dd618","850772bf.18c8"],["7474fc07.6b5ea4","f607a901.84c6c8","7e704736.2866f8"],["93520fad.894d5","31aead5d.adc562","c62754fd.499388","15640c1b.044094"],["2fd77064.3d772","7fd2ec70.bb9dd4","e2a5d28d.6ec69","9d7f6a2f.36bde8"],["d28e4c7.6ef65b","722b97be.81e168","fc58f830.e7d768"],["d9f91a06.c70908","2e096983.8dbdd6","42696ef0.eb54f"],["b7efc65e.28f8f8","f1f5d15b.bc0d2","5a61904.cb1c57"],["6d463032.da4a","4b0fc92a.9b2c98"],["b5efa41e.75d258","f459ce99.86115","b53cfdc5.f5b89","701f4717.5fff28"],["803c0cb9.ce634","450a8378.9017ac","a978c94e.8623b8","d15c5b1b.b1fd28"],["38d8abe7.5f98d4","bbbb9cdf.ede52","b8b04ac3.f69fb8","da282e67.144fc"],["fe9f5266.3a9de"]]},{"id":"8d33d794.0e9368","type":"ui_text","z":"8e84be49.632e6","group":"9ac5d372.08227","order":3,"width":"6","height":"1","name":"","label":"Msg from:","format":"{{msg.payload}} ","layout":"row-spread","x":1220,"y":20,"wires":[]},{"id":"93520fad.894d5","type":"ui_text","z":"8e84be49.632e6","group":"475e4518.266e1c","order":1,"width":"6","height":"1","name":"","label":"Dust_C","format":"{{msg.payload | number:2}} ug/m3","layout":"row-left","x":1860,"y":600,"wires":[]},{"id":"2fd77064.3d772","type":"ui_text","z":"8e84be49.632e6","group":"475e4518.266e1c","order":2,"width":"4","height":"1","name":"","label":"Temp","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":1850,"y":640,"wires":[]},{"id":"38d8abe7.5f98d4","type":"ui_text","z":"8e84be49.632e6","group":"475e4518.266e1c","order":10,"width":"4","height":"1","name":"inWater","label":"inWater","format":"{{msg.payload | number:0}} ","layout":"row-left","x":1800,"y":1020,"wires":[]},{"id":"803c0cb9.ce634","type":"ui_text","z":"8e84be49.632e6","group":"475e4518.266e1c","order":9,"width":"4","height":"1","name":"humid","label":"humid","format":"{{msg.payload | number:0}} ","layout":"row-left","x":1830,"y":960,"wires":[]},{"id":"f459ce99.86115","type":"ui_text","z":"8e84be49.632e6","group":"475e4518.266e1c","order":8,"width":"4","height":"1","name":"dry","label":"dry","format":"{{msg.payload | number:0}}","layout":"row-left","x":1850,"y":900,"wires":[]},{"id":"6d463032.da4a","type":"ui_text","z":"8e84be49.632e6","group":"9f32f91b.02ab68","order":5,"width":"4","height":"1","name":"val","label":"val","format":"{{msg.payload | number:0}} ","layout":"row-left","x":1830,"y":840,"wires":[]},{"id":"b7efc65e.28f8f8","type":"ui_text","z":"8e84be49.632e6","group":"475e4518.266e1c","order":3,"width":"4","height":"1","name":"TbmpC","label":"Tbmp","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":1840,"y":780,"wires":[]},{"id":"d9f91a06.c70908","type":"ui_text","z":"8e84be49.632e6","group":"9f32f91b.02ab68","order":3,"width":"4","height":"1","name":"THT_C","label":"THT","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":1840,"y":740,"wires":[]},{"id":"d28e4c7.6ef65b","type":"ui_text","z":"8e84be49.632e6","group":"475e4518.266e1c","order":5,"width":"4","height":"1","name":"HHT_C","label":"HHT","format":"{{msg.payload | number:2}} %","layout":"row-left","x":1840,"y":680,"wires":[]},{"id":"feb5ec54.ca3c","type":"ui_text","z":"8e84be49.632e6","group":"b34daaac.a77b98","order":3,"width":"4","height":"1","name":"HHT_M","label":"HHT","format":"{{msg.payload | number:2}} %","layout":"row-left","x":1240,"y":140,"wires":[]},{"id":"5cf4235f.75b04c","type":"ui_text","z":"8e84be49.632e6","group":"b34daaac.a77b98","order":4,"width":"4","height":"1","name":"THT_M","label":"THT","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":1240,"y":180,"wires":[]},{"id":"5523ffef.6f9fa","type":"ui_text","z":"8e84be49.632e6","group":"b34daaac.a77b98","order":5,"width":"4","height":"1","name":"Tbmp_M","label":"Tbmp","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":1240,"y":220,"wires":[]},{"id":"f11a87f1.a9a4e8","type":"ui_text","z":"8e84be49.632e6","group":"b34daaac.a77b98","order":6,"width":"4","height":"1","name":"val_M","label":"val","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":1270,"y":260,"wires":[]},{"id":"35c4b4f.c76694c","type":"ui_text","z":"8e84be49.632e6","group":"b34daaac.a77b98","order":7,"width":"4","height":"1","name":"dry_M","label":"dry","format":"{{msg.payload | number:0}} ","layout":"row-left","x":1250,"y":300,"wires":[]},{"id":"7447650c.8f59bc","type":"ui_text","z":"8e84be49.632e6","group":"b34daaac.a77b98","order":8,"width":"4","height":"1","name":"humid_M","label":"humid","format":"{{msg.payload | number:0}} ","layout":"row-left","x":1260,"y":340,"wires":[]},{"id":"7474fc07.6b5ea4","type":"ui_text","z":"8e84be49.632e6","group":"b34daaac.a77b98","order":9,"width":"4","height":"1","name":"inWater_M","label":"inWater","format":"{{msg.payload | number:0}} ","layout":"row-left","x":1270,"y":380,"wires":[]},{"id":"d61c94e.c90dc68","type":"ui_text","z":"8e84be49.632e6","group":"9ac5d372.08227","order":11,"width":0,"height":0,"name":"Dia","label":"Dia","format":"{{msg.mydate}}","layout":"row-spread","x":910,"y":920,"wires":[]},{"id":"fe9f5266.3a9de","type":"simpletime","z":"8e84be49.632e6","name":"time","x":730,"y":940,"wires":[["d61c94e.c90dc68","b9c9c90f.b00488"]]},{"id":"b9c9c90f.b00488","type":"ui_text","z":"8e84be49.632e6","group":"9ac5d372.08227","order":12,"width":0,"height":0,"name":"hora","label":"Darrer missatge reubut a les:","format":"{{msg.mytimes}}","layout":"row-spread","x":970,"y":960,"wires":[]},{"id":"a0d90865.11ceb8","type":"ui_gauge","z":"8e84be49.632e6","name":"GràficaHumitat_M","group":"cd5dd6b6.ccfb98","order":2,"width":"7","height":"4","gtype":"wave","title":"Humidity","label":"% ","format":"{{value | number:2}}","min":0,"max":"100","colors":["#d70000","#e6e600","#00b300"],"seg1":"30","seg2":"60","x":2170,"y":260,"wires":[]},{"id":"cd1eb431.562fd8","type":"ui_chart","z":"8e84be49.632e6","name":"Gràfica Temperatura2","group":"86e71b3a.03c1b8","order":3,"width":"0","height":"0","label":"Temperature (ºC)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Witing data...","dot":false,"ymin":"0","ymax":"500","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2560,"y":320,"wires":[[]]},{"id":"9bbf09ed.5547c8","type":"function","z":"8e84be49.632e6","name":"Topic_THT","func":"msg.topic='THT';\nreturn msg;\n","outputs":1,"noerr":0,"x":2190,"y":340,"wires":[["93fb63db.eddd6"]]},{"id":"f33cb94b.472308","type":"function","z":"8e84be49.632e6","name":"Topic_Tbmp","func":"msg.topic='Tbmp';\nreturn msg;\n","outputs":1,"noerr":0,"x":2190,"y":380,"wires":[["93fb63db.eddd6"]]},{"id":"8d0709cb.7c1318","type":"function","z":"8e84be49.632e6","name":"Topic_temp","func":"msg.topic='Temp';\nreturn msg;\n","outputs":1,"noerr":0,"x":2190,"y":420,"wires":[["93fb63db.eddd6"]]},{"id":"93fb63db.eddd6","type":"function","z":"8e84be49.632e6","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2370,"y":340,"wires":[["cd1eb431.562fd8"]]},{"id":"748c3ad5.6c32f4","type":"ui_text","z":"8e84be49.632e6","group":"cd5dd6b6.ccfb98","order":3,"width":0,"height":0,"name":"","label":"Dry","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":1670,"y":200,"wires":[],"icon":"font-awesome/fa-circle"},{"id":"d9fd747d.3ac028","type":"ui_text","z":"8e84be49.632e6","group":"cd5dd6b6.ccfb98","order":4,"width":0,"height":0,"name":"","label":"Humid","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":1670,"y":240,"wires":[],"icon":"font-awesome/fa-circle"},{"id":"bcf9be23.54524","type":"ui_text","z":"8e84be49.632e6","group":"cd5dd6b6.ccfb98","order":5,"width":0,"height":0,"name":"","label":"inWater","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":1700,"y":280,"wires":[],"icon":"font-awesome/fa-circle"},{"id":"fe000b36.0be778","type":"ui_text","z":"8e84be49.632e6","group":"e94e2a5.e1d22d8","order":1,"width":"6","height":"1","name":"","label":"Dust","format":"{{msg.payload | number:2}} ug/m3","layout":"row-left","x":1390,"y":20,"wires":[]},{"id":"f04c1565.7ab648","type":"ui_text","z":"8e84be49.632e6","group":"e94e2a5.e1d22d8","order":2,"width":"4","height":"1","name":"","label":"Temp","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":1390,"y":60,"wires":[]},{"id":"fe338e36.53de1","type":"ui_text","z":"8e84be49.632e6","group":"e94e2a5.e1d22d8","order":3,"width":"4","height":"1","name":"HHT_M","label":"HHT","format":"{{msg.payload | number:2}} %","layout":"row-left","x":1400,"y":100,"wires":[]},{"id":"88a75adf.f99308","type":"ui_text","z":"8e84be49.632e6","group":"e94e2a5.e1d22d8","order":4,"width":"4","height":"1","name":"THT_M","label":"THT","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":1400,"y":140,"wires":[]},{"id":"d834f15d.6808c","type":"ui_text","z":"8e84be49.632e6","group":"e94e2a5.e1d22d8","order":5,"width":"4","height":"1","name":"Tbmp_M","label":"Tbmp","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":1420,"y":180,"wires":[]},{"id":"ecfba178.e3496","type":"ui_text","z":"8e84be49.632e6","group":"e94e2a5.e1d22d8","order":6,"width":"4","height":"1","name":"val_M","label":"val","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":1410,"y":220,"wires":[]},{"id":"123a5c4e.d7f204","type":"ui_text","z":"8e84be49.632e6","group":"e94e2a5.e1d22d8","order":7,"width":"4","height":"1","name":"dry_M","label":"dry","format":"{{msg.payload | number:0}} ","layout":"row-left","x":1410,"y":260,"wires":[]},{"id":"6480a935.1dd618","type":"ui_text","z":"8e84be49.632e6","group":"e94e2a5.e1d22d8","order":8,"width":"4","height":"1","name":"humid_M","label":"humid","format":"{{msg.payload | number:0}} ","layout":"row-left","x":1420,"y":300,"wires":[]},{"id":"f607a901.84c6c8","type":"ui_text","z":"8e84be49.632e6","group":"e94e2a5.e1d22d8","order":9,"width":"4","height":"1","name":"inWater_M","label":"inWater","format":"{{msg.payload | number:0}} ","layout":"row-left","x":1430,"y":340,"wires":[]},{"id":"f015e2c5.35413","type":"ui_gauge","z":"8e84be49.632e6","name":"Temperatura","group":"cd5dd6b6.ccfb98","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{value|number:2}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","x":1570,"y":60,"wires":[]},{"id":"247ac445.ac9e9c","type":"ui_chart","z":"8e84be49.632e6","name":"Dust_M (ug/m3)","group":"86e71b3a.03c1b8","order":3,"width":"0","height":"0","label":"Dust (ug/m3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Witing data...","dot":false,"ymin":"0","ymax":"600","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1660,"y":120,"wires":[[]]},{"id":"bbbb9cdf.ede52","type":"ui_text","z":"8e84be49.632e6","group":"9f32f91b.02ab68","order":8,"width":"4","height":"1","name":"inWater","label":"inWater","format":"{{msg.payload | number:0}} ","layout":"row-left","x":2000,"y":1020,"wires":[]},{"id":"31aead5d.adc562","type":"ui_text","z":"8e84be49.632e6","group":"9f32f91b.02ab68","order":1,"width":"6","height":"1","name":"","label":"Dust_C","format":"{{msg.payload | number:2}} ug/m3","layout":"row-left","x":2000,"y":600,"wires":[]},{"id":"722b97be.81e168","type":"ui_text","z":"8e84be49.632e6","group":"9f32f91b.02ab68","order":4,"width":"4","height":"1","name":"HHT_C","label":"HHT","format":"{{msg.payload | number:2}} %","layout":"row-left","x":2000,"y":700,"wires":[]},{"id":"2e096983.8dbdd6","type":"ui_text","z":"8e84be49.632e6","group":"475e4518.266e1c","order":4,"width":"4","height":"1","name":"THT_C","label":"THT","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":2000,"y":760,"wires":[]},{"id":"f1f5d15b.bc0d2","type":"ui_text","z":"8e84be49.632e6","group":"9f32f91b.02ab68","order":2,"width":"4","height":"1","name":"TbmpC","label":"Tbmp","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":2000,"y":820,"wires":[]},{"id":"4b0fc92a.9b2c98","type":"ui_text","z":"8e84be49.632e6","group":"475e4518.266e1c","order":7,"width":"4","height":"1","name":"val","label":"val","format":"{{msg.payload | number:0}} ","layout":"row-left","x":2010,"y":860,"wires":[]},{"id":"b5efa41e.75d258","type":"ui_text","z":"8e84be49.632e6","group":"9f32f91b.02ab68","order":6,"width":"4","height":"1","name":"dry","label":"dry","format":"{{msg.payload | number:0}}","layout":"row-left","x":2010,"y":900,"wires":[]},{"id":"450a8378.9017ac","type":"ui_text","z":"8e84be49.632e6","group":"9f32f91b.02ab68","order":7,"width":"4","height":"1","name":"humid","label":"humid","format":"{{msg.payload | number:0}} ","layout":"row-left","x":2010,"y":960,"wires":[]},{"id":"f9d3dff.e128a2","type":"ui_text","z":"8e84be49.632e6","group":"2d7dbdda.f8dbe2","order":3,"width":0,"height":0,"name":"","label":"Dry","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":2450,"y":760,"wires":[],"icon":"font-awesome/fa-circle"},{"id":"a0d2bfd4.e9756","type":"ui_text","z":"8e84be49.632e6","group":"2d7dbdda.f8dbe2","order":4,"width":0,"height":0,"name":"","label":"Humid","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":2450,"y":800,"wires":[],"icon":"font-awesome/fa-circle"},{"id":"44f82dd8.2af8b4","type":"ui_text","z":"8e84be49.632e6","group":"2d7dbdda.f8dbe2","order":5,"width":0,"height":0,"name":"","label":"inWater","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":2460,"y":840,"wires":[],"icon":"font-awesome/fa-circle"},{"id":"fc58f830.e7d768","type":"ui_gauge","z":"8e84be49.632e6","name":"GràficaHumitat_M","group":"2d7dbdda.f8dbe2","order":1,"width":"7","height":"5","gtype":"wave","title":"Humidity","label":"% ","format":"{{value | number:2}}","min":0,"max":"100","colors":["#d70000","#e6e600","#00b300"],"seg1":"30","seg2":"60","x":2230,"y":660,"wires":[]},{"id":"c62754fd.499388","type":"ui_chart","z":"8e84be49.632e6","name":"Dust (ug/m3)","group":"d9d652ca.dacd3","order":3,"width":"0","height":"0","label":"Dust (ug/m3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Witing data...","dot":false,"ymin":"0","ymax":"560","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2230,"y":600,"wires":[[]]},{"id":"42696ef0.eb54f","type":"function","z":"8e84be49.632e6","name":"Topic_THT","func":"var msg1={};\nvar msg2={};\nvar msg3={};\n\nmsg.topic='THT';\nreturn msg;\n","outputs":1,"noerr":0,"x":2190,"y":920,"wires":[["f706191a.ee9c78"]]},{"id":"5a61904.cb1c57","type":"function","z":"8e84be49.632e6","name":"Topic_Tbmp","func":"msg.topic='Tbmp';\nreturn msg;\n","outputs":1,"noerr":0,"x":2190,"y":960,"wires":[["f706191a.ee9c78"]]},{"id":"7fd2ec70.bb9dd4","type":"function","z":"8e84be49.632e6","name":"Topic_temp","func":"msg.topic='Temp';\nreturn msg;\n","outputs":1,"noerr":0,"x":2190,"y":1000,"wires":[["f706191a.ee9c78"]]},{"id":"f706191a.ee9c78","type":"function","z":"8e84be49.632e6","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2350,"y":980,"wires":[["bbedd466.b6dcd8"]]},{"id":"bbedd466.b6dcd8","type":"ui_chart","z":"8e84be49.632e6","name":"Gràfica Temperatura2","group":"d9d652ca.dacd3","order":3,"width":"0","height":"0","label":"Temperature (ºC)","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Witing data...","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2540,"y":980,"wires":[[]]},{"id":"61a42c5b.3deac4","type":"function","z":"8e84be49.632e6","name":"","func":"if (msg.payload==1) {\n    msg.color=\"lime\";\n  \n}else{\n    msg.color=\"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":220,"wires":[["748c3ad5.6c32f4"]]},{"id":"850772bf.18c8","type":"function","z":"8e84be49.632e6","name":"","func":"if (msg.payload==1) {\n    msg.color=\"lime\";\n  \n}else{\n    msg.color=\"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":260,"wires":[["d9fd747d.3ac028"]]},{"id":"7e704736.2866f8","type":"function","z":"8e84be49.632e6","name":"","func":"if (msg.payload==1) {\n    msg.color=\"lime\";\n  \n}else{\n    msg.color=\"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":320,"wires":[["bcf9be23.54524"]]},{"id":"a978c94e.8623b8","type":"function","z":"8e84be49.632e6","name":"","func":"if (msg.payload==1) {\n    msg.color=\"lime\";\n  \n}else{\n    msg.color=\"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":800,"wires":[["a0d2bfd4.e9756"]]},{"id":"b8b04ac3.f69fb8","type":"function","z":"8e84be49.632e6","name":"","func":"if (msg.payload==1) {\n    msg.color=\"lime\";\n  \n}else{\n    msg.color=\"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":2330,"y":840,"wires":[["44f82dd8.2af8b4"]]},{"id":"e2a5d28d.6ec69","type":"ui_gauge","z":"8e84be49.632e6","name":"Temperatura","group":"2d7dbdda.f8dbe2","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{value|number:2}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","x":2430,"y":620,"wires":[]},{"id":"15640c1b.044094","type":"simpletime","z":"8e84be49.632e6","name":"time","x":1950,"y":520,"wires":[["aadcdcb2.360e6","e748dc21.2ba9c"]]},{"id":"e748dc21.2ba9c","type":"ui_text","z":"8e84be49.632e6","group":"9f32f91b.02ab68","order":10,"width":0,"height":0,"name":"hora","label":"Darrer missatge reubut a les:","format":"{{msg.mytimes}}","layout":"row-spread","x":2070,"y":540,"wires":[]},{"id":"aadcdcb2.360e6","type":"ui_text","z":"8e84be49.632e6","group":"9f32f91b.02ab68","order":10,"width":0,"height":0,"name":"Dia","label":"Dia","format":"{{msg.mydate}}","layout":"row-spread","x":2070,"y":500,"wires":[]},{"id":"cf3dad05.83d93","type":"simpletime","z":"8e84be49.632e6","name":"time","x":690,"y":360,"wires":[["39c4ca3.d19dc36","9dcb55f0.b661a8"]]},{"id":"9dcb55f0.b661a8","type":"ui_text","z":"8e84be49.632e6","group":"e94e2a5.e1d22d8","order":10,"width":0,"height":0,"name":"hora","label":"Darrer missatge reubut a les:","format":"{{msg.mytimes}}","layout":"row-spread","x":810,"y":440,"wires":[]},{"id":"39c4ca3.d19dc36","type":"ui_text","z":"8e84be49.632e6","group":"e94e2a5.e1d22d8","order":10,"width":0,"height":0,"name":"Dia","label":"Dia","format":"{{msg.mydate}}","layout":"row-spread","x":850,"y":400,"wires":[]},{"id":"9d7f6a2f.36bde8","type":"ui_text","z":"8e84be49.632e6","group":"9f32f91b.02ab68","order":6,"width":"4","height":"1","name":"","label":"Temp","format":"{{msg.payload | number:2}} ºC","layout":"row-left","x":1990,"y":640,"wires":[]},{"id":"4a3a4ff3.2c62f","type":"ttn send","z":"8e84be49.632e6","name":"sd","app":"e71c9a2.b3c2468","dev_id":"70b3d549966dd4071","port":"1","x":370,"y":880,"wires":[]},{"id":"7ca050d4.1e623","type":"inject","z":"8e84be49.632e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":760,"wires":[["77045123.7cdd6"]]},{"id":"77045123.7cdd6","type":"function","z":"8e84be49.632e6","name":"","func":"msg=\"hello\"\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":880,"wires":[["4a3a4ff3.2c62f"]]},{"id":"5ed11069.7fce6","type":"debug","z":"8e84be49.632e6","name":"moriginal","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":840,"wires":[]},{"id":"da282e67.144fc","type":"debug","z":"8e84be49.632e6","name":"inwater","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":960,"wires":[]},{"id":"d15c5b1b.b1fd28","type":"debug","z":"8e84be49.632e6","name":"humid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":1020,"wires":[]},{"id":"b53cfdc5.f5b89","type":"debug","z":"8e84be49.632e6","name":"dry","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":1080,"wires":[]},{"id":"2c51b847.8f5968","type":"function","z":"f2f5c311.9ac2e","name":"Split dry_humid_inWater","func":"var dry2=\"0\";\nvar humid2=\"0\";\nvar inWater2=\"0\";\n\nswitch(msg.payload.dhi){\n    case(1):\n         dry2=\"1\";\n         break;\n    case(2):\n        humid2=\"1\";\n         break;\n    case(3):\n        inWater2=\"1\";\n         break;\n}\nvar dry={\"payload\":dry2.toString()};\nvar humid={\"payload\":humid2.toString()};\nvar inWater={\"payload\":inWater2.toString()};\nreturn[dry,humid,inWater]","outputs":3,"noerr":0,"x":770,"y":380,"wires":[["2669b3d9.763afc"],["c65b5faf.ba62f"],["751bed2a.ddc6f4"]]},{"id":"f97b5357.04678","type":"debug","z":"f2f5c311.9ac2e","name":"Show_msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":320,"wires":[]},{"id":"701f4717.5fff28","type":"function","z":"8e84be49.632e6","name":"","func":"if (msg.payload==1) {\n    msg.color=\"lime\";\n  \n}else{\n    msg.color=\"red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":2270,"y":760,"wires":[["f9d3dff.e128a2","c13835a2.204588"]]},{"id":"c13835a2.204588","type":"debug","z":"8e84be49.632e6","name":"p","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2480,"y":720,"wires":[]},{"id":"f26abd9b.c0c3d","type":"ui_text","z":"f2f5c311.9ac2e","group":"9ac5d372.08227","order":1,"width":"6","height":"1","name":"","label":"ID","format":"{{msg.payload.id}} ","layout":"row-spread","x":590,"y":400,"wires":[]},{"id":"6a8e7915.096238","type":"ttn message","z":"673f7d95.d7b064","name":"","app":"e71c9a2.b3c2468","dev_id":"","field":"","x":230,"y":300,"wires":[["9f6dcae6.cb9fd8","a8d19a9e.4e592","443b87be.fce53","a9616dc3.1d14e","dedf62f3.af01d8","3c14d8d7.ae892"]]},{"id":"9f6dcae6.cb9fd8","type":"ui_text","z":"673f7d95.d7b064","group":"efc35d63.3068e8","order":1,"width":0,"height":0,"name":"","label":"Neighbour 1","format":"{{msg.payload.id1}}","layout":"row-spread","x":430,"y":140,"wires":[]},{"id":"a8d19a9e.4e592","type":"ui_text","z":"673f7d95.d7b064","group":"efc35d63.3068e8","order":2,"width":0,"height":0,"name":"","label":"Power neighbour 1","format":"{{msg.payload.pow1}}","layout":"row-spread","x":470,"y":180,"wires":[]},{"id":"443b87be.fce53","type":"ui_text","z":"673f7d95.d7b064","group":"efc35d63.3068e8","order":3,"width":0,"height":0,"name":"","label":"Neighbour 2","format":"{{msg.payload.id2}}","layout":"row-spread","x":470,"y":240,"wires":[]},{"id":"a9616dc3.1d14e","type":"ui_text","z":"673f7d95.d7b064","group":"efc35d63.3068e8","order":4,"width":0,"height":0,"name":"","label":"Power neighbour 2","format":"{{msg.payload.pow2}}","layout":"row-spread","x":490,"y":280,"wires":[]},{"id":"dedf62f3.af01d8","type":"ui_text","z":"673f7d95.d7b064","group":"efc35d63.3068e8","order":5,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload.counter}}","layout":"row-spread","x":460,"y":320,"wires":[]},{"id":"6524ef81.4f1f1","type":"function","z":"673f7d95.d7b064","name":"Add metadata and time","func":"//msg.payload.date=msg.mydate\nmsg.payload.dateDay=msg.mydom\nmsg.payload.dateMonth=msg.mymonthn\nmsg.payload.dateYear=msg.myyear\nmsg.payload.time=msg.mytimes\nmsg.payload.dust=Number((msg.payload.dust).toFixed(2));\nmsg.payload.temp=Number((msg.payload.temp).toFixed(2));\nmsg.payload.frequency=msg.metadata.frequency\nmsg.payload.DR=msg.metadata.data_rate\nmsg.payload.rssi=msg.metadata.gateways[0].rssi\nmsg.payload.snr=msg.metadata.gateways[0].snr\nmsg.payload.timestamp=msg.metadata.gateways[0].timestamp\nreturn msg;\n//Number((6.688689).toFixed(1));","outputs":1,"noerr":0,"x":590,"y":380,"wires":[["b897fd58.260f6"]]},{"id":"b897fd58.260f6","type":"csv","z":"673f7d95.d7b064","name":"","sep":",","hdrin":false,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"id1,pow1,id2,pow2,counter,frequency,DR,rssi,snr,timestamp,dateDay,dateMonth,dateYear,time","skip":"0","x":810,"y":380,"wires":[["9f806b73.493618"]]},{"id":"9f806b73.493618","type":"file","z":"673f7d95.d7b064","name":"","filename":"F:\\\\EndesaRed\\DadesNR_Neighbours.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1070,"y":380,"wires":[[]]},{"id":"3c14d8d7.ae892","type":"simpletime","z":"673f7d95.d7b064","name":"time","x":390,"y":380,"wires":[["6524ef81.4f1f1"]]}]